<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>
        Point Digital Integration Server.
    </description>
    <display-name>Digital Integration Server</display-name>

    <filter>
        <filter-name>MiltonFilter</filter-name>
        <filter-class>io.milton.servlet.MiltonFilter</filter-class>

        <!-- This param shows how to exclude certain paths from the MiltonFilter -->
        <!-- These paths will "fall through" the filter and be handled as normal servlet resources -->
        <init-param>
            <param-name>milton.exclude.paths</param-name>
            <param-value>/tmp,/scratch</param-value>
        </init-param>
        <init-param>
            <param-name>resource.factory.class</param-name>
            <param-value>com.setantamedia.fulcrum.webdav.DisResourceFactory</param-value>
        </init-param>
        <!--
        <init-param>
           <param-name>filter_1</param-name>
           <param-value>io.milton.http.DebugFilter</param-value>
        </init-param>
        -->
        <!-- By default the DefaultMiltonConfigurator will be used to configure milton, but you provide your own configurator here -->
        <init-param>
            <param-name>milton.configurator</param-name>
            <param-value>com.setantamedia.fulcrum.webdav.DisMiltonConfigurator</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>MiltonFilter</filter-name>
        <url-pattern>/webdav/*</url-pattern>
    </filter-mapping>


    <listener>
        <listener-class>com.setantamedia.fulcrum.ws.FulcrumServletContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>dis-config-file</param-name>
        <param-value>/WEB-INF/conf/dis-config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>dis-log-file</param-name>
        <param-value>/WEB-INF/conf/dis-log4j.xml</param-value>
    </context-param>
    <context-param>
        <param-name>server-class</param-name>
        <param-value>com.setantamedia.fulcrum.AdvancedServer</param-value>
    </context-param>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.setantamedia.fulcrum.ws.AdminServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>com.setantamedia.fulcrum.ws.DataServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DbServlet</servlet-name>
        <servlet-class>com.setantamedia.fulcrum.ws.DbServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.setantamedia.fulcrum.ws.FileServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PreviewServlet</servlet-name>
        <servlet-class>com.setantamedia.fulcrum.ws.PreviewServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.setantamedia.fulcrum.ws.SearchServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/data/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/file/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WorkflowServlet</servlet-name>
        <servlet-class>com.setantamedia.fulcrum.ws.WorkflowServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DbServlet</servlet-name>
        <url-pattern>/db/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewServlet</servlet-name>
        <url-pattern>/preview/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkflowServlet</servlet-name>
        <url-pattern>/wf/*</url-pattern>
    </servlet-mapping>
</web-app>
